@using Byteology.Website.Navigation

<section>
    <div>
        <h2>
            <DynamicComponent Type="@Icon" />
            <span>@Title</span>
        </h2>
        <p>@Description</p>
        <a href="@(Sitemap.GetRouteOf(PageLink))">Learn More</a>
    </div>
    <aside>
        <DynamicComponent Type="@Icon" />
    </aside>
</section>
