@using Byteology.Website.Navigation

<b-service-card>
    <article>
        <h2>
            <DynamicComponent Type="@Icon" />
            <span>@Title</span>
        </h2>
        <p>@Description</p>
        <a href="@(Sitemap.GetRouteOf(PageLink))">Learn More</a>
    </article>
    <aside>
        <DynamicComponent Type="@Icon" />
    </aside>
</b-service-card>
