@using Byteology.Website.Navigation

<b-service-card>
    <article>
        <h2>
            <b-icon name="@Icon"></b-icon>
            <span>@Title</span>
        </h2>
        <p>@Description</p>
        <a href="@PageLink">Learn More</a>
    </article>
    <aside>
        <b-icon name="@Icon"></b-icon>
    </aside>
</b-service-card>
