@inherits StylableComponent

<div @attributes=AdditionalAttributes class="grid grid-cols-1 lg:grid-cols-2 gap-4 justify-center @CssClass">
    @for (int i = 0; i < _services.Length; i++)
    {
        var service = _services[i];
        <div class="max-w-xl border border-dark-100 shadow-md flex">
            <div class="bg-dark-900/70 basis-0 grow-[3] flex flex-col gap-4 justify-between p-4">
                <h2 class="font-bold text-accent uppercase text-sm md:text-base">@service.Title</h2>
                <p class="text-sm md:text-base">@service.Description</p>
                <a class="button text-sm p-1" href="@service.Url">@service.LinkText</a>
            </div>
            <div class="p-4 md:p-8 basis-0 grow flex justify-center bg-dark-700/70 @(i % 2 == 0 ? "lg:order-first" : "")">
                @* <ProxyComponent class="self-center w-full" ComponentToRender="@service.Icon"/> *@
            </div>
        </div>
    }
</div>
