<section class="border border-dark-100 shadow-md">
    <div class="bg-dark-900/70 space-y-4 p-8">
        <h1 class="text-lg font-bold text-accent uppercase">@Header</h1>
        @if (!string.IsNullOrEmpty(Text))
        {
            @(new MarkupString(Markdig.Markdown.ToHtml(Text)))
        }
    </div>

    @for (int i = 0; i < Items.Length; i++)
    {
        (string itemHeader, string[] subitems) = Items[i];
        <div class="md:border-x-[2rem] border-dark-900/70">
            <div class="col-span-12 flex flex-col border-y md:border border-dark-100 shadow-md">
                <div class="px-8 py-2 bg-dark/70 border-b border-dark-100 shadow-md flex gap-4 items-center">
                    <h2 class="text-primary uppercase font-bold text-2xl">@((i + 1).ToString().PadLeft(2, '0'))</h2>
                    <h2 class="text-accent uppercase font-bold text-sm md:text-base">@itemHeader</h2>
                </div>
                <Timeline class="bg-dark-700/70 px-8 py-6 text-accent" Items="subitems" Context="subitem" >
                    <Item>
                        <p class="text-neutral-100"> @(new MarkupString(Markdig.Markdown.ToHtml(subitem)))</p>
                    </Item>
                </Timeline>
            </div>
        </div>
        <div class="w-full h-8 bg-dark-900/70"></div>
    }
</section>

@code {
    [Parameter, EditorRequired]
    public string Header { get; set; } = null!;

    [Parameter]
    public string? Text { get; set; }

    [Parameter, EditorRequired]
    public (string Header, string[] Items)[] Items { get; set; } = null!;
}
