@inherits StyledComponent

<div @attributes=AdditionalAttributes class="border border-dark-100 shadow-md
        @(_successfulSubmit.HasValue ? "hidden" : (_shouldFadeIn ? "animate-fade-in-fast" : "")) @CssClass">


    <div class="flex flex-col md:flex-row">

        <div class="flex-[2_0_0%] md:content-start space-y-4 p-8 bg-dark-700/50">
            @if (!string.IsNullOrEmpty(Title))
            {
                <h1 class=" font-bold uppercase text-accent lg:text-lg">@Title</h1>
            }
            <p class="text-sm lg:text-base">
                @CallToAction
            </p>

            <ContactsList />
        </div>
    
        <ContactForm class="flex-[3_0_0%]" OnSubmit=onSubmit />

    </div>
</div>

<div @attributes=AdditionalAttributes class="p-8 bg-dark-900/70 border border-dark-100 shadow-md flex flex-col gap-4 @(_successfulSubmit.HasValue ? "animate-fade-in-fast" : "hidden") @CssClass">
    <h1 class="text-lg lg:text-xl font-bold text-center uppercase
                @(_successfulSubmit == true ? "text-accent" : "") @(_successfulSubmit == false ? "text-error" : "")">
        @getLightboxTitle()
    </h1>

    <p>@getLightboxBody()</p>

    @if (_successfulSubmit == false)
    {
        <button class="button p-1 mt-4" @onclick=@(() => _successfulSubmit = null)>Continue</button>
    }
</div>

@code {

    private bool? _successfulSubmit;
    private bool _shouldFadeIn = false;

    [Parameter]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public string? CallToAction { get; set; }

    private void onSubmit(ContactForm.SubmissionEventArgs args)
    {
        _successfulSubmit = args.Success;
        _shouldFadeIn = true;
    }

    private string getLightboxTitle()
    {
        string? result = null;

        if (_successfulSubmit.HasValue)
            result = _successfulSubmit.Value ? "Thank you!" : "Oops!";

        return result ?? string.Empty;
    }

    private string getLightboxBody()
    {
        string? result = null;

        if (_successfulSubmit.HasValue)
            result = _successfulSubmit.Value ? "Thank you for reaching out! We'll make sure to help you the best we can. We usually answer within 2 business days.": "We are terribly sorry but something went wrong. You can either retry or just write us a plain old email.";

        return result ?? string.Empty;
    }

}
