@inherits Microsoft.AspNetCore.Components.Forms.InputTextArea

<b-textarea @attributes="AdditionalAttributes" class="@CssClass">
    <label for="@_id">@Label</label>

    <b-textarea-wrapper data-replicated-value=@_value >
        <textarea id="@_id" placeholder="@Placeholder" rows="1"
                @bind="CurrentValueAsString"
                @bind:event="onchange"
                @oninput="onValueChanged">
        </textarea>
    </b-textarea-wrapper>
</b-textarea>
