@inherits Microsoft.AspNetCore.Components.Forms.InputText

<b-input @attributes="AdditionalAttributes" class="@CssClass">
    <label for="@_id">@Label</label>
    <input id="@_id" type="text" placeholder="@Placeholder"
        @bind="CurrentValueAsString"
        @bind:event="onchange"/>
</b-input>
