<div class="max-w-md md:max-w-3xl border border-dark-100 shadow-md
        @(_successfulSubmit.HasValue ? "hidden" : (_shouldFadeIn ? "animate-fade-in-fast" : ""))">


    <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr]">

        <div class="col-start-1 md:content-start space-y-4 p-8 bg-dark-700/50">
            <h1 class=" font-bold uppercase text-accent md:text-center">@_model.Title</h1>

            <p class="text-sm">
                @_model.CallToAction
            </p>

            <ContactsList />
        </div>
    
        <ContactForm OnSubmit=onSubmit />

    </div>
</div>

<div class="p-8 max-w-md bg-dark-900/70 border border-dark-100 shadow-md flex flex-col gap-4 @(_successfulSubmit.HasValue ? "animate-fade-in-fast" : "hidden")">
    <h1 class="text-lg font-bold text-center uppercase
                @(_successfulSubmit == true ? "text-accent" : "") @(_successfulSubmit == false ? "text-error" : "")">
        @getLightboxTitle()
    </h1>

    <p>@getLightboxBody()</p>

    @if (_successfulSubmit == false)
    {
        <button class="button p-1 mt-4" @onclick=@(() => _successfulSubmit = null)>@_model.Response.OnErrorButtonText</button>
    }
</div>