@inherits ByteologyComponent

<div @attributes=AdditionalAttributes
     class="max-w-3xl space-y-8
            @(_successfulSubmit.HasValue ? "hidden" : (_shouldFadeIn ? "animate-fade-in-fast" : "")) 
            @CssClass">

    <h1 class="text-lg font-bold uppercase text-accent text-center">@Model.Title</h1>

    <div class="grid grid-cols-1 md:grid-cols-[2fr_3fr] gap-8">

        <div class="col-start-1 md:content-start space-y-4">
            <p class="text-sm md:text-base">
                @Model.CallToAction
            </p>

            <ContactsList Contacts="Model.Contacts" />
        </div>
    
        <ContactForm ConcentText="@Model.ContactForm.Consent" SubmitInquiryText="@Model.ContactForm.SubmitText" OnSubmit=onSubmit />

    </div>
</div>

<div class="p-8 max-w-md bg-bg flex flex-col gap-4 @(_successfulSubmit.HasValue ? "animate-fade-in-fast" : "hidden")">
    <h1 class="text-lg font-bold text-center uppercase
              @(_successfulSubmit == true ? "text-accent" : "") @(_successfulSubmit == false ? "text-error" : "")">
        @getLightboxTitle()
    </h1>

    <p>@getLightboxBody()</p>

    @if (_successfulSubmit == false)
    {
        <button class="button p-1 mt-4" @onclick=@(() => _successfulSubmit = null)>@Model.ContactForm.OnErrorButtonText</button>
    }
</div>