@inherits ByteologyComponent

<div @attributes=AdditionalAttributes
     class="space-y-8 
            @(_successfulSubmit.HasValue ? "hidden" : (_shouldFadeIn ? "animate-fade-in-fast" : "")) 
            @CssClass">

    <h1 class="text-h3 font-bold text-emph text-center">@Model.Title</h1>

    <div class="grid grid-cols-1 laptop:grid-cols-[2fr_3fr] gap-8">

        <div class="col-start-1 laptop:content-start space-y-4">
            <p class="text-detail tablet:text-body">
                @Model.CallToAction
            </p>

            <ContactsList Contacts="Model.Contacts" />
        </div>
    
        <ContactForm ConcentText="@Model.ContactForm.Consent" SubmitInquiryText="@Model.ContactForm.SubmitText" OnSubmit=onSubmit />

    </div>
</div>

<div class="p-8 max-w-[26rem] bg-bg flex flex-col gap-4 @(_successfulSubmit.HasValue ? "animate-fade-in-fast" : "hidden")">
    <h3 class="text-h3 font-bold text-center 
              @(_successfulSubmit == true ? "text-emph" : "") @(_successfulSubmit == false ? "text-error" : "")">
        @getLightboxTitle()
    </h3>

    <p>@getLightboxBody()</p>

    @if (_successfulSubmit == false)
    {
        <button class="button p-1 mt-4" @onclick=@(() => _successfulSubmit = null)>@Model.ContactForm.OnErrorButtonText</button>
    }
</div>