@page "/articles/{handle}"
@page "/thoughts/{handle}"
@layout PaperLayout

@if (_metadata == null)
{
    <ArticleList />
}
else
{
    <Metadata Title="@(string.IsNullOrEmpty(_metadata.Subtitle) ? _metadata.Title : $"{_metadata.Title} - {_metadata.Subtitle}")" Description="@_metadata.Description" Article="true" Keywords="@_metadata.Keywords"/>

    <article id="@_metadata.Handle">

        <section>
            <b-heading>
                <ArticleIcon Category="_metadata.Category" />
                <h1>
                    @_metadata.Title
                    @if(!string.IsNullOrEmpty(_metadata.Subtitle))
                    {
                        <span>@_metadata.Subtitle</span>
                    }
                </h1>
            </b-heading>
            @_intro
        </section>

        @if (_blocks.Length > 2)
        {
            <ArticleIndex Blocks="_blocks" />
        }

        @_content
        
    </article>


    <NextPrevArticle CurrentArticleHandle="@Handle" />
}

