<div @attributes="InputAttributes">
    <div class="p-8 w-full h-full bg-accent flex flex-col justify-between gap-y-8 overflow-auto no-scrollbar">
        <div class="flex items-center">
            <img class="w-[5rem]" src="@IconSrc" alt="@Title"/>

            <h3 class="text-h3 font-bold text-light">@Title</h3>
        </div>

        <p class="text-light">@Description</p>

        <a class="inline-block px-[1.25em] py-[0.75em] uppercase text-center font-bold text-detail transition duration-500 border-solid border-2 border-secondary
                  bg-transparent text-light hover:text-light hover:bg-secondary" href="@DetailsUrl">Learn more</a>
    </div>
</div>


@code 
{
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public string Description { get; set; } = default!;

    [Parameter]
    public string IconSrc { get; set; } = default!;

    [Parameter]
    public string DetailsUrl { get; set; } = default!;
}