@typeparam TItem

<div class="grid grid-cols-[max-content_2px_minmax(0,_1fr)] gap-x-8 @Class"
     @attributes=InputAttributes>

    <div class="flex flex-col gap-[1.5rem] w-full">

        <RadioButtonsList Items="Items" Context="item" TItem="TItem" OnChanged="onChanged">
            <ItemTemplate>
                <div class="box-content 
                            cursor-pointer whitespace-nowrap
                            transition-normal
                            border-solid border-2
                            overflow-hidden
                            @(item.Selected ?
                                "border-active" :
                                "border-passive group-hover:border-active-hover group-focus:border-active-hover")" >

                    @TabContent(new RadioButtonsList<TItem>.Context(item.Value, item.Selected))

                </div>
            </ItemTemplate>
        </RadioButtonsList>
    </div>

    <div class="bg-active h-full"></div>

    <div>
        @for(int i = 0; i < Items.Count; i++)
        {
            <div class="@(_selectedIndex == i ?
                            "h-full transition-[opacity,_left] left-0 duration-[1s,_0.5s] opacity-100" :
                            "invisible fixed -left-8 opacity-0")">
                @Body(Items[i])
            </div>
        }
    </div>
</div>
