@using Microsoft.AspNetCore.Components.Forms

@inherits InputText

<div @attributes=AdditionalAttributes class=@Class>
    <label for="@_id" class="font-bold text-detail">@Label</label>
    <input
        @bind="CurrentValueAsString"
        @bind:event="onchange"
        id="@_id"
        type="text"
        placeholder="@Placeholder"
        class="
            block w-full overflow-hidden pl-4
            transition-normal
            bg-transparent text-detail
            border-b-2 border-solid border-active
            placeholder:italic
            hover:border-active-hover
            invalid:border-error
            focus:!border-active-hover 
            placeholder:text-backdrop-fg-inactive @CssClass" />

</div>