<b-opening>
    <h2>
        <DynamicComponent Type="@Opening.Icon" />
        <b-title>@Opening.Title</b-title>
        @if (Opening.SalaryInEuro != null)
        {
            if (Opening.SalaryInEuro.Value.Min == Opening.SalaryInEuro.Value.Max)
            {
                <b-salary>@($"€{Opening.SalaryInEuro.Value.Min} net")</b-salary>
            }
            else
            {
                <b-salary>@($"€{Opening.SalaryInEuro.Value.Min} - €{Opening.SalaryInEuro.Value.Max} net")</b-salary>
            }
        }
    </h2>
    <p>@Opening.Intro</p>
    <a href="careers/@Opening.Id">Learn More</a>

</b-opening>
