@layout FullPageScrollingLayout

@using Byteology.Website.Components.Inquiry
@using Byteology.Website.Components.Navigation

<Head Title="@_title" Description="@_description" Keywords="@_keywords" />

<section class="slide">
    <Hero class="w-full h-full" />
</section>

<section class="slide slide-center md:px-8 py-10">
    <ServicesList class="max-w-7xl" />
</section>

<section class="slide slide-center md:px-8 py-10">
    <Inquiry class="max-w-md md:max-w-4xl" Title="@_model.CallToActionTitle" CallToAction="@_model.CallToAction" />
</section>

<section class="slide flex flex-col gap-10 items-center justify-between">

        <div class="w-full h-12 flex-none"></div>

        <div class="w-full p-6 md:p-8 flex justify-center
                    bg-dark-900/70 border border-dark-100 shadow-md">
            <ExpandedNavigation DisableHomeLink=true />
        </div>

        <Footer class="flex-none"/>
</section>