@using Byteology.Website.Data.Models.HomePage

<section class="slide slide-center">
    <div class="w-full bg-dark-900 border-y border-dark-100 shadow-md flex flex-col items-center">
        <div class="p-8 w-full max-w-7xl flex justify-evenly gap-8">

            <img class="w-[10rem] object-center object-contain
                    content-[url(/images/logo-portrait.svg)]"/>

            @foreach (LinkSectionModel section in Model.LinkSections)
            {
                <div class="flex flex-col text-sm">
                    <p class="uppercase font-bold mb-4 text-accent text-base">@(section.Title)</p>

                    @foreach(LinkModel link in section.Links)
                    {
                        <a class="transition-fast hocus:text-primary-300" href="@link.Url">@link.Text</a>
                    }
                </div>
            }
        </div>

        <div class="w-full p-1 text-center text-neutral text-xs">@Model.Copyright | <a class="transition-fast underline hocus:text-primary-300" href="@Model.PrivacyPolicy.Url">@Model.PrivacyPolicy.Text</a></div>

    </div>
</section>

@code {
    [Parameter]
    public FooterModel Model { get; set; } = default!;
}