<section class="slide slide-center">
    <div class="w-full bg-dark-900 border-y border-dark-100 shadow-md flex flex-col items-center">

        <div class="p-8 pb-2 w-full max-w-5xl 
                    grid grid-cols-1 md:grid-cols-[8rem_auto] justify-center justify-items-center gap-8 md:gap-x-16 lg:gap-x-32">

            <img class="hidden md:block max-h-fit
                bg-center bg-contain
                content-[url(/images/logo-portrait.svg)]"
                    alt="Byteology"/>

            <div class="flex flex-col md:flex-row md:w-full justify-evenly gap-6 md:gap-8 lg:gap-16">
                @foreach (LinkSectionModel section in _model.LinkSections)
                {
                    <div class="flex flex-col text-sm gap-1">
                        <p class="uppercase font-bold text-accent text-sm">@(section.Title)</p>

                        @foreach(LinkModel link in section.Links)
                        {
                            <a class="transition-fast hocus:text-primary-300" href="@link.Url">@link.Text</a>
                        }
                    </div>
                }
            </div>

            <div class="md:col-span-2 text-center text-neutral text-xs">
                @(_model.Copyright.Replace("{year}", DateTime.Now.Year.ToString())) | 
                <a class="transition-fast underline hocus:text-primary-300" href="@_model.PrivacyPolicy.Url">@_model.PrivacyPolicy.Text</a>
            </div>
        </div>


    </div>
</section>

@code {
    [Inject]
    private ModelReader _modelReader { get; set; } = default!;
    private FooterModel _model = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _model = _modelReader.Read<FooterModel>("footer-data.json");
    }
}