<section class="slide bg-[url('/images/background.jpeg')] bg-cover bg-center
                flex flex-col md:flex-row">

    <div class="grow h-[max(25vh,10rem)] flex content-center justify-center 
                md:grow-0 md:w-1/2 md:sticky md:top-1/2 md:-translate-y-1/2">
        <img class="my-8 md:my-0
                    max-w-[50%]
                    object-center object-contain
                    content-[url(/images/logo-portrait.svg)]"
                alt="Byteology - a moment of science"/>
    </div>

    <div class="md:px-4 lg:px-8
                md:w-1/2 md:max-w-3xl
                flex flex-col items-center justify-safe-center">

        <div class="p-8 bg-dark-900 shadow-md
                    border border-dark-100
                    md:max-w-xl flex flex-col gap-8
                    md:justify-center
                    text-base lg:text-2xl" >

            <div class="[&_strong]:text-accent font-bold">
                @(new MarkupString(Markdown.ToHtml(_model.Introduction)))
            </div>
    
            <div class="text-sm lg:text-base text-accent">
                <Timeline Items="@_model.Timeline" Context="item">
                    <Item>
                        <p class="text-neutral-100">@(new MarkupString(Markdown.ToHtml(item)))</p>
                    </Item>
                </Timeline>
            </div>

            <a href="@_model.Link.Url"
                class="button text-sm p-2">
                @_model.Link.Text
            </a>

        </div>

    </div>


</section> 

@code {
    [Inject]
    private ModelReader _modelReader { get; set; } = default!;
    private IntroModel _model = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _model = _modelReader.Read<IntroModel>("intro-data.json");
    }
}