@using Byteology.Website.Data.Models.HomePage

@inherits ByteologyComponent
    <section @attributes=AdditionalAttributes
             class="flex flex-col md:flex-row @CssClass">

        <div class="grow h-[max(25vh,10rem)] flex content-center justify-center 
                    md:grow-0 md:w-1/2 md:sticky md:top-1/2 md:-translate-y-1/2">
            <img class="my-8 md:my-0
                        max-w-[50%]
                        object-center object-contain
                        content-[url(/images/logo-portrait.svg)]"
                 alt="Byteology - a moment of science"/>
        </div>

        <div class="bg-bg
                    md:w-1/2 md:max-w-3xl
                    border-bg-5 border-t md:border-t-0 md:border-l 2xl:border-r
                    flex flex-col items-center justify-safe-center">

            <div class="p-8 bg-bg
                        md:max-w-xl flex flex-col gap-8
                        md:justify-center
                        text-base lg:text-2xl" >

                <div class="[&_strong]:text-accent">
                    @(new MarkupString(Markdown.ToHtml(Model.Introduction)))
                </div>
    
                <Timeline Items="@Model.Timeline.Select(x => new MarkupString(Markdown.ToHtml(x))).ToArray()"
                            class="text-sm lg:text-base"/>

                <a href="@Model.AboutUsUrl"
                    class="button text-sm p-2">
                    @Model.AdditionalInfoText
                </a>

            </div>

        </div>


    </section> 

@code {
    [Parameter, Required]
    public ScientificGeneralizationModel Model { get; set; } = default!;
}