@using Byteology.Website.Data.Models.HomePage.ServucesListSegment

@inherits ByteologyComponent

<div @attributes=AdditionalAttributes
     class="w-full
            bg-bg text-fg
            p-8 space-y-8 @CssClass">

    <h1 class="text-h3 font-bold text-emph text-center">@Model.Title</h1>

    <TabbedWindow Items="Model.Services" 
                  Context="service">

        <TabContent>
            <div class="flex items-center gap-4 p-1 laptop:pr-4 h-8">
                <img class="h-full" src=@service.Value.IconSrc alt=@service.Value.Title />
                <div class="hidden laptop:block text-detail font-bold"> @service.Value.Title </div>
            </div>
        </TabContent>

        <Body>
            <div class="h-full flex flex-col gap-8 justify-between">
                <div class="flex items-center gap-4 tablet:py-2 h-8 tablet:h-14">
                    <img class="h-full" src=@service.IconSrc alt=@service.Title />
                    <div class="text-body tablet:text-h3 font-bold"> @service.Title </div>
                </div>

                <p class="text-detail tablet:text-body">@service.Description</p>

                <a 
                    href="@service.DetailsUrl"
                    class="button p-[calc(0.25rem_+_2px)]">

                    @service.AdditionalInfoText
                </a>
            </div>
        </Body>
    </TabbedWindow>
        
</div>

@code {
    [Parameter, Required]
    public ServicesListModel Model { get; set; } = default!;
}