<div class="box-content
            transition-all duration-500
            text-light
            border-solid border-2
            overflow-hidden
            flex flex-col gap-8 justify-between
            @(Layout switch
            {
                ServiceLayout.Button => "cursor-pointer border-secondary hocus:border-accent-light h-8 whitespace-nowrap px-4",
                ServiceLayout.ButtonSelected => "border-accent h-8 whitespace-nowrap px-4",
                ServiceLayout.Card => "border-accent bg-accent h-64 p-4",
                ServiceLayout.Article => "border-transparent",
                _ => ""
            })"
     tabindex="@(Layout == ServiceLayout.Button || Layout == ServiceLayout.ButtonSelected ? 0 : -1)"
     @attributes=InputAttributes>

    <div class="transition-[margin] duration-500 
                flex gap-4 items-center
                @(Layout switch
            {
                ServiceLayout.Button => "text-detail -mx-4 [&_>_img]:h-6 [&_>_img]:m-1",
                ServiceLayout.ButtonSelected => "text-detail -mx-4 [&_>_img]:h-6 [&_>_img]:m-1",
                ServiceLayout.Card => "text-body [&_>_img]:h-6 [&_>_img]:mr-1",
                ServiceLayout.Article => "text-h3 [&_>_img]:h-8 [&_>_img]:mr-2",
                _ => ""
            })">
        <img src="@Model.IconSrc" alt="@Model.Title" /> 
        <p class="font-bold pr-4">@Model.Title</p>
    </div>

    @if(Layout == ServiceLayout.Card || Layout == ServiceLayout.Article)
    {
        <p class="@(Layout == ServiceLayout.Card ? "text-detail" : "text-body")">@Model.Description</p>

        <LinkButton Text="@Model.AdditionalInfoText" 
                    Url="@Model.DetailsUrl" 
                    Type=@(Layout == ServiceLayout.Article ? LinkButton.ButtonType.Primary : LinkButton.ButtonType.Secondary)
                    class="text-detail p-1"/>
    }
</div>