<div class="w-full
            bg-bg text-fg
            p-8 space-y-8 @Class"
     @attributes=InputAttributes>

    <h1 class="text-h2 font-bold text-emph text-center">@Model.Title</h1>

    <TabbedWindow Items="Model.Services" 
                  Context="service">

        <TabContent>
            <div class="flex items-center gap-4 p-1 pr-4 h-8">
                <img class="h-full" src=@service.Value.IconSrc alt=@service.Value.Title />
                <div class="text-detail font-bold"> @service.Value.Title </div>
            </div>
        </TabContent>

        <Body>
            <div class="h-full flex flex-col gap-8 justify-between">
                <div class="flex items-center gap-4 p-2 pr-4 h-14">
                    <img class="h-full" src=@service.IconSrc alt=@service.Title />
                    <div class="text-h3 font-bold"> @service.Title </div>
                </div>

                <p class="text-body">@service.Description</p>

                <a 
                    href="@service.DetailsUrl"
                    class="p-1
                           text-detail font-bold uppercase text-center text-accent-fg
                           bg-accent
                           transition-normal
                           hocus:bg-accent-alt">

                    @service.AdditionalInfoText
                </a>
            </div>
        </Body>
    </TabbedWindow>
        
</div>