<div class="w-full max-w-[22rem]
            bg-dark text-light
            space-y-8 p-8 @Class"
     @attributes=InputAttributes>

    <h3 class="text-h3 font-bold text-secondary text-center">@Model.Title</h3>

    <div class="flex flex-col gap-4">

        <RadioButtonsList Items="Model.Services" Context="item">
            <ItemTemplate>

                <div class="box-content w-full 
                            transition-all duration-500
                            border-solid border-2
                            flex flex-col gap-8 justify-between overflow-auto no-scrollbar
                            @(item.Selected ? 
                                "border-accent bg-accent h-64 py-4" : 
                                "cursor-pointer border-secondary group-focus:border-accent-light group-hover:border-accent-light h-8")">

                    <div class="p-1
                                transition-all duration-500 
                                flex items-center gap-4  
                                @(item.Selected ? 
                                    "px-4 text-body" :
                                    "h-8 text-detail")">

                        <img class="transition-all duration-500 @(item.Selected ? "h-8" : "h-6")" src="@item.Value.IconSrc" alt="@item.Value.Title" /> 
                        <p class="font-bold">@item.Value.Title</p>

                    </div>

                    <p class="text-detail mx-4">@item.Value.Description</p>

                    <LinkButton Text="@item.Value.AdditionalInfoText" 
                                Url="@item.Value.DetailsUrl" 
                                Type=LinkButton.ButtonType.Secondary
                                class="text-detail p-1 mx-4"
                                tabindex="@(item.Selected ? 0 : -1)"/>
                </div>

            </ItemTemplate>
        </RadioButtonsList>
    </div>

</div>
